boto3==1.17.56
botocore==1.20.56
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
jmespath==0.10.0
moviepy==1.0.3
numpy==1.20.2
Pillow==8.2.0
proglog==0.1.9
python-dateutil==2.8.1
requests==2.25.1
s3transfer==0.4.2
six==1.15.0
tqdm==4.60.0
urllib3==1.26.4
